<nav class="grey darken-3">
  <div class="nav-wrapper container">

    <a href="#!" class="brand-logo center" style="font-size: 10px;">CERITA KITA </a>
    <a href="/dashboard" class="right"> <img src="{{image}}" class="profile-img"></a>

    <a href="#" data-target="mobile-demo" class="sidenav-trigger show-on-large">
      <i class="fas fa-bars"></i>
    </a>
    <ul class="sidenav" id="mobile-demo">
      <li>
        <a href="/stories">Lihat Cerita</a>
      </li>
      <li>
        <a href="/dashboard">Profile</a>
      </li>
      <li>
        <a href="/auth/logout">Logout</a>
      </li>
    </ul>
  </div>
</nav>