PORT = 3000
MONGO_URI = mongodb://admin:admin123@cluster0-shard-00-01.c3vtd.mongodb.net:27017/compose?authSource=admin&ssl=true
GOOGLE_CLIENT_ID =36730593020-vhshdbg35rghfm4fg7duq5tmckhlor8a.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET =KRGf-drnPJpYKoqwZZn_nJ7t